header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  margin: auto;
  padding: 32px var(--layout-spacing-medium);
  background-color: var(--bg-color);
  color: var(--font-color);
}

header a {
  text-transform: uppercase;
  letter-spacing: var(--type-letter-spacing-all-caps);
  font-weight: var(--type-font-weight-700);
  color: inherit;
  margin-right: var(--layout-spacing-medium);
}

header button {
  appearance: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  padding: var(--layout-spacing-xx-small);
  border: 0;
  margin: 0;
  border-radius: 9999px;
}

header a:hover,
header button:hover {
  color: var(--primary-color);
}

header button:hover {
  box-shadow: 0 0 0 3px;
  outline: none;
}
